.svn*
.metadata
code/Wimoto/Wimoto.xcodeproj/project.xcworkspace/xcuserdata/mac.xcuserdatad/UserInterfaceState.xcuserstate

code/Wimoto/Wimoto.xcodeproj/project.xcworkspace/xcuserdata/mac.xcuserdatad/WorkspaceSettings.xcsettings
